@charset "UTF-8";

/* 
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
    Verde Escuro: #2d6462
    Verde Claro: #6cd3cf
    Verde Azul Claro: #49cfcd
*/

:root {
    --verde: #49a09d;
    --lilas: #5f2c82;
    --verde_escuro: #2d6462;
    --verde_claro: #6cd3cf;
    --verde_azul_claro: #49cfcd;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: var(--lilas);
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;

    background-color: white;
    height: 515px;
    width: 250px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    background: var(--lilas) url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;   
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

div.campo {
    display: block;
    background-color: var(--lilas);
    border: 2px solid var(--lilas);
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > i {
    /* background-color: black; */
    width: 40px;
    color: white;
    font-size: 2em;
    padding: 4px;
}

div.campo > input {
    height: 100%;
    width: calc(100% - 45px);
    border-radius: 8px;
    background-color: var(--verde_azul_claro);
    font-size: 1em;
    transform: translateY(-12px);
    padding: 4px;
    border: 0px;
}

div.campo > input:focus-within {
    background-color: white;
    border: none;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--verde);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: var(--verde_escuro);
}

form > a.botao {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 1em;
    text-decoration: none;
    color: var(--verde_escuro);
    border: 1px solid var(--verde);
    border-radius: 7px;
    margin-top: 5px;
    padding-top: 5px;
}

form > a.botao:hover {
    background-color: var(--verde_claro);
}

form > a.botao > i {
    font-size: 0.8em;
}